.dashboard {
  display: flex;
  flex-direction: column;
  .dashboard__form{

  }
  .dashboard__container{
    display: flex;
    flex-direction: row;
  }
  .dashboard__table {
    flex: 50;
  }
  .dashboard__favorites {
    display: flex;
    flex-direction: column;
    flex: 50;
  }
}
