<div class="dashboard">
  <h2>Search movies, episodes and series</h2>
  <button mat-flat-button color="primary" routerLink="/page2">
    Move to page 2
  </button>
  <div class="dashboard__form">
    <app-form-movies
      [searching]="searchingMovie"
      (searchMovieEmitter)="searchMovie($event)"
    ></app-form-movies>
  </div>
  <div class="dashboard__container">
    <div class="dashboard__table" *ngIf="hasResults()">
      <app-movies-table
        (selectedOptionFatherEmitter)="selectedOption($event)"
      ></app-movies-table>
    </div>
    <div class="dashboard__favorites">
      <app-favorite-shows></app-favorite-shows>
      <app-search-history></app-search-history>
    </div>
  </div>
</div>
